extends layout

block content
	.container
		h1 About Us
		p Donec sed odio dui. Cras justo odio, dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus dapibus 
		ul
			li Vivamusne
			li cras efficitur
			li Nam lectus elit
		p Quisque QuisqueQuisque QuisqueQuisqueQuisqueQuisqueQuisqueQuisqueQuisqueQuisqueQuisqueQuisqueQuisque